<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{payment.student.name}}/Sana:{{payment.created_at}}/Summa{{payment.sum}}</title>
    <style>
        .container{
            width: 60%;
            margin: auto;
        }
        .container img{
            width: 100%;
        }
        body{
            background: #000;
        }
    </style>

</head>
<body>    
    <div class = "container">
        <img src = "{{ payment.imageURL }}">    
        <p>{{ payment.sum }}</p>
    </div>
</body>
</html>